* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*===============================Fuentes===============================*/
@font-face {
  font-family: "varino";
  src: url("../fonts/varino.ttf") format("truetype");
}

@font-face {
  font-family: "roboto_light";
  src: url("../fonts/roboto_light.ttf") format("truetype");
}

/*===============================Estilos a etiquetas===============================*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "roboto_light";
  font-size: 15px;
  background-color: #08090f;
}

h3 {
  font-family: "varino", sans-serif;
}

/*===============================Estilos genericos===============================*/

.text-gradient {
  background-image: linear-gradient(135deg, #ff6699, #676799, #59eaf7);
  -webkit-background-clip: text; /* Safari/Chrome */
  background-clip: text;
  color: transparent; /* Oculta el texto original */
}

#particles-js {
  background: #08090f;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  animation: animateGradient 5s infinite alternate;
}

.webdev {
  background-image: linear-gradient(
    135deg,
    #3e454c,
    #212529
  ); /* Gradiente aplicado como borde */
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.webdev h2 {
  padding: 10px;
}

/*===============================Estilos para el header===============================*/
.header {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1rem;
  font-family: "varino", sans-serif;
  color: #ffffff;
  z-index: 999;
  transition: 0.5s ease;
  overflow: hidden;
}

.content-header {
  max-width: 1065px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 0 50px;
  border-radius: 5px;
  transition: 0.5s ease;
  overflow: hidden;
}

.header.down {
  background: #212529fb; /* Color blanco con opacidad */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
}

.header.down .content-header {
  margin: 0;
  transition: 0.5s ease;
}

.nav {
  display: flex;
  max-width: 1065px;
  gap: 100px;
}

.brand {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.2s ease;
}

.brand:hover {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
  transform: scale(1.06);
}

.brand:active {
  transform: scale(1);
}

.brand:hover img {
  filter: brightness(0) saturate(100%) invert(82%) sepia(53%) saturate(1598%)
    hue-rotate(157deg) brightness(107%) contrast(94%);
}

.nav {
  display: flex;
}

.nav.disable {
  display: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  color: #ffffff;
  font-size: 0.9rem;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  transition: 0.2s ease;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%; /* Mantiene el centro inicial */
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff; /* Color del subrayado */
  transform: translateX(-50%) scaleX(0); /* Comienza desde el centro con escala 0 */
  transform-origin: center; /* Origen de la transformación */
  transition: transform 0.3s ease; /* Transición suave solo en la transformación */
}

nav ul li a:hover {
  color: #59eaf7;
  background-color: #5c5c5c4d;
}

nav ul li a:hover::after {
  transform: translateX(-50%) scaleX(1); /* Expande el subrayado desde el centro */
}

nav ul li a:active {
  background-color: #7a7a7a4d;
}

.option-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1em;
  text-decoration: none;
  white-space: nowrap;
  gap: 5px;
}

/*===============================Estilos para burger menu===============================*/
.menu-toggle {
  height: 50px;
  width: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s linear;
  z-index: 1010; /* Asegura que el botón esté por encima del menú */
}

.menu-toggle.show {
  display: flex;
}

.menu-toggle:hover {
  transform: scale(1.05);
  background-color: #5c5c5c4d;
}

.menu-toggle:hover .bar {
  background-color: #59eaf7;
}

.menu-toggle:active {
  transform: scale(1);
  background-color: #9292924d;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 4px 0;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.menu-toggle.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.burger-nav {
  display: none;
  height: 100vh;
  width: 70%; /* Cambiado a 100% para ocupar toda la pantalla */
  top: 0;
  left: 0;
  position: fixed;
  background-color: #212529;
  color: var(--color-white);
  z-index: 1005; /* Asegura que el menú esté por encima de otros elementos */
  overflow: hidden;
}

.burger-nav.show {
  display: block;
}

.burger-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.burger-menu li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0; /* Mayor separación entre los elementos */
}

.burger-menu li a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

.burger-menu li a:hover {
  color: #59eaf7;
  background-color: #5c5c5c4d;
  transform: scale(1.1);
  font-size: 1rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004f;
  z-index: 1001;
}

.overlay.active {
  display: block;
}

/* Media queries para mostrar el botón del menú en pantallas pequeñas */
@media (max-width: 798px) {
  .content-header {
    padding: 5px 50px;
  }

  .header.down .content-header {
    padding: 2px 50px;
  }

  .menu-toggle {
    display: flex;
  }

  .nav {
    display: none;
  }
}

/*===============================Estilos para contenido principal===============================*/
.main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1065px;
  padding: 0 50px;
  gap: 120px;
}

.hero-section {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.content-hero-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.banner-title {
  width: auto;
  color: #ffffff;
  font-family: "varino";
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  gap: 20px;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s ease;
}

.redes a:hover {
  background-color: #5c5c5c4d;
  transform: scale(1.06);
}

.redes a:active {
  background-color: #7a7a7a4d;
}

.redes a:nth-of-type(2):hover img {
  filter: brightness(0) saturate(100%) invert(27%) sepia(100%) saturate(1417%)
    hue-rotate(194deg) brightness(89%) contrast(96%);
}

.banner-img {
  height: 500px;
  width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-img img {
  height: 500px;
  width: 400px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 1)); /* Agrega una sombra */
}

.animated-image {
  position: absolute;
  animation: moveImage 8s infinite alternate ease;
}

/*===============================Sobre mi===============================*/

.about-me,
.skills,
.contact {
  height: auto;
  width: 100%;
  color: #ffffff;
  scroll-margin-top: 100px;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(135deg, #3e454c, #212529),
    linear-gradient(135deg, #ff6699, #676799, #59eaf7); /* Gradiente aplicado como borde */
  border-radius: 30px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: 50px;
  padding: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.title-section h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* Opcional: redondear esquinas */
  width: 200px;
  padding: 10px;
  font-size: 1.5em;
}

.subtitle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #212529;
  margin-bottom: 10px;
}

.content-about-me {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.text-about-me {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 450px;
  font-size: 1.2em;
}

.stats-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.stat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #676799;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 130px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-2px);
}

.stat-card h2 {
  font-size: 2.5em;
  margin: 0;
  color: #ffffff;
  cursor: default;
}

.stat-card p {
  margin: 0;
  font-size: 1em;
  color: #fff;
  cursor: default;
}

/*===============================Habilidades===============================*/

.subtitle-section-skills {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.subtitle-section-skills .p-skills {
  background-color: #212529;
  border: 2px solid #4f4f4f;
  border-radius: 30px;
  padding: 10px 30px;
  color: #ffffff;
}

.skills-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 30px;
}

.skill-card {
  box-sizing: content-box;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #4f4f4f;
  border-radius: 50%;
  background: radial-gradient(#7a8c96, #465058, #212529, #191c1f);
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-2px);
}

.skill-img {
  margin-bottom: 5px;
}

.skill-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skill-title h4 {
  cursor: default;
}

/*===============================Esfera===============================*/

.content-sphere {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sphere {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: spin 20s infinite linear;
}

.word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Arial, sans-serif;
  will-change: transform;
  cursor: default;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/*===============================Contacto===============================*/

.content-contact {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}

.img-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 400px;
  overflow: hidden;
}

.img-contact img {
  height: 500px;
  width: 400px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 1));
}

.form-container {
  width: 45%;
  background-color: #212529a9;
  padding: 20px 40px;
  border-radius: 10px;
  border-top: 5px solid #ff6699;
  border-right: 1px solid #4f4f4f;
  border-bottom: 1px solid #4f4f4f;
  border-left: 1px solid #4f4f4f;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  padding: 10px 0 30px 0;
  font-family: "varino";
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  font-size: 16px;
}

input:focus-visible,
textarea:focus-visible {
  outline-color: #c2dbff; /* Color del contorno al enfocar */
  outline-style: solid; /* Estilo del contorno (sólido, punteado, etc.) */
  outline-width: 3px; /* Grosor del contorno */
  outline-offset: 0; /* Espacio entre el contorno y el borde del elemento */
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

.form-group:last-child {
  display: flex;
  justify-content: right;
  padding: 15px 0 10px 0;
  margin: 0;
}

/* Boton para enviar */

.btn {
  --border-color: linear-gradient(-45deg, #ff6699, #676799, #59eaf7);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #ffffff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}

/*===============================Footer===============================*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #212529a9;
  color: #ffffff;
  border-top: 2px solid #4f4f4f;
  padding-top: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.content-footer {
  width: 100%;
}

.copyright {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #4f4f4f;
}

/*===============================Media Query===============================*/
@media (width < 1000px) {
  .header {
    margin-top: 0;
  }

  .content-header {
    border-radius: 0;
  }

  .hero-section {
    gap: 0;
    margin-top: 150px;
  }

  .content-hero-section {
    justify-content: center;
    gap: 50px;
  }

  .banner-title {
    width: 100%;
  }

  .banner-img {
    width: 300px;
    height: 400px;
  }

  .banner-img img {
    width: 280px;
    height: 400px;
  }

  .content-about-me {
    justify-content: center;
    flex-direction: column;
  }

  .text-about-me {
    width: 100%;
  }

  .stats-container {
    width: 100%;
  }

  .content-contact {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .form-container {
    max-width: none;
    width: 100%;
  }

  .img-contact {
    height: 300px;
    width: 280px;
  }

  .img-contact img {
    height: 300px;
    width: 280px;
  }
}

@media (width <= 798px) {
  .header {
    justify-content: space-between;
  }

  .banner-img {
    width: 300px;
    height: 400px;
  }

  .content-about-me {
    justify-content: center;
  }

  .skills-grid {
    gap: 20px;
  }

  .stat-card {
    padding: 15px;
    width: 100px;
  }

  .stat-card h2 {
    font-size: 1.5em;
  }
  
  .stat-card p {
    font-size: .7em;
  }

  .subtitle-section-skills .p-skills h4 {
    text-align: center;
  }

  .form-container h2 {
    font-size: 1em;
  }
}

/*===============================Estilos para boton subir===============================*/
.top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 12px;
  background-color: #212529b7;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #4f4f4f;
  cursor: pointer;
  box-shadow: 0px 2px 5px #00000080;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}

.top-button:hover {
  background-color: #5c5c5c4d;
}

.top-button:active {
  transform: scale(1);
  background-color: #7a7a7a4d;
}

.top-button:hover svg {
  filter: brightness(0) saturate(100%) invert(82%) sepia(53%) saturate(1598%)
    hue-rotate(157deg) brightness(107%) contrast(94%);
  transform: rotate(0deg) scale(1.1);
}

.top-button.show {
  opacity: 1;
  visibility: visible;
}

/*===============================Animaciones===============================*/
@keyframes moveImage {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-2px) rotate(0.5deg);
  }
  50% {
    transform: translateY(2px) rotate(-0.5deg);
  }
  75% {
    transform: translateY(-2px) rotate(0.5deg);
  }
  100% {
    transform: translateY(2px) rotate(-0.5deg);
  }
}

/*===============================ScrollBar===============================*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #888888;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}
